.banner {
    background-color:#00733d;
    color:white;
    width:100%;
    
  }
  
  .navbar {
    overflow: hidden;
    background-color: #00733d;
    font-family: Arial;
  }
  
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
  }
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    border-radius:100px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  .dropdown-content a:hover {
    background-color: #ddd;
    border-radius:0px;
    
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  *{
    margin:0;
    padding:0;
  }
  
  body{
  
    justify-content:center;
    align-items:center;
    margin:0;
  }
  .slider{
    width:400px;
    height:200px;
    overflow:hidden;
    border-radius:10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .slides{
    display:flex;
    width:400px;
    animation: slide 12s infinite;
  }
   .slides  {
    width:100%;
    height:100%;
    object-fit: cover;
    
   }
  @keyframes slide {
    0% {transform: translateX(0%);}
    25% {transform: translateX(-100%);}
    50%{transform: translateX(-200%);}
    75%{transform: translateX(-300%);}
    100%{transform: translateX(0%);}
  }
  .results1{
    position:fixed;
    left:600px;
    top:140px;
    
  }
  .about{
    position:fixed;
    left:600px;
    top:200px;
    width:300px;
  }
  .results1{
    width:300px;
    overflow:hidden;
    white-space:nowrap;
    background:black;
    padding:10px 0;
    border-radius:100px;
  }
  .scroll-text{
    display:inline-block;
    color:white;
    font-size:24px;
    font-weight:bold;
    animation: marquee 10s linear infinite;
  }
  @keyframes marquee{
    from{
      transform: translateX(100%);
    }
    to{
      transform: translateX(-100%);
    }
  }
  .contact-form{
    padding:10px;
    width:100px;
    position:static;
  }
  .form-block{
    padding:1px;
  }
